*
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

html
  font-size: 14px

.keyboard
  display: flex
  justify-content: center

  .key
    display: inline-block
    width: 5rem
    height: 10rem
    border: solid thin black
    background-color: white
    cursor: pointer
    font-size: 3rem
    text-align: center
    user-select: none
