* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  size: 1em;
}
body{
  margin:15px;
}
li{
  list-style: none;
}
#board {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:15px;
  margin:15px;
  width:330px;
}
.square {
  width: 150px;
  height: 150px;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
.player_buttons{
  /*! width:65px; */
  /*! height:30px; */
  background-color:pink;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
}
