* {
  margin: 0;
  padding: 0;
}
#board {
  display: grid;
  grid-template-columns: auto auto;
}
div {
  width: 150px;
  height: 150px;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
